@model MeyawoPortfolio.Models.TblProject

@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Proje Güncelle</h2>
<hr />
@using (Html.BeginForm("UpdateProject", "Project", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ProjectId)
    <div class="form-group">
        <label for="projeKKategori">Kategori</label>
        @Html.DropDownListFor(model => model.ProjectCategory, (SelectList)ViewBag.Categories, new { @class = "form-control", style = "border:solid" })

    </div>

    <div class="form-group">
        <label for="projeBasligi">Proje Başlığı</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", style = "border:solid" })
    </div>

    <div class="form-group">
        <label for="projeGorselLink">Proje Görsel Link</label>
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", style = "border:solid" })
    </div>

    <div class="form-group">
        <label for="githubLinki">Github Linki</label>
        @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "form-control", style = "border:solid" })
    </div>

    <div class="form-group">
        <label for="aciklama">Açıklama</label>
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", style = "border:solid" })
    </div>
    <a href="/Project/Index/" class="btn btn-primary">< Proje Listesi</a>
    <button class="btn btn-success" type="submit">Güncelle</button>

}
