@model MeyawoPortfolio.Models.TblAbout

@{
    ViewBag.Title = "Hakkımda";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Hakkımda</h2>

@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
    @Html.HiddenFor(model => model.AboutId)

    <div class="form-group">
        <label>Başlık</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", style = "border:solid" })
    </div>

    <div class="form-group">
        <label>Ad Soyad</label>
        @Html.TextBoxFor(x => x.Header, new { @class = "form-control", style = "border:solid" })
    </div>

    <div class="form-group">
        <label>Unvan</label>
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", style = "border:solid" })
    </div>
    <div class="form-group">
        <label>Açıklama</label>
        @Html.TextAreaFor(x => x.Description,8,8, new { @class = "form-control", style = "border:solid" })
    </div>

    <button class="btn btn-success" type="submit">Güncelle</button>
}